<html>
  <head>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body> 
    <h1>All Drivers </h1>
    <nav>
      <a href="/<html>
  <head>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body> 
    <h1>All drivers </h1>
    <nav>
      <a href="/drivers/new">new driver</a>
    </nav>
    
    <ul>
    <% for (i in drivers) { %>
      <li>
      <a href="/drivers/<%= drivers[i]._id  %>"><%= drivers[i].name %><%= drivers[i].age %></a>
      <form action="/drivers/<%= drivers[i]._id  %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
        </li>
        
        <% } %>
    </ul>
    </body>
</html>s/new"></a>
    </nav>
    
    <ul>
    <% for (i in drivers) { %>
      <li>
      <a href="/drivers/<%= drivers[i]._id  %>"><%= drivers[i].name %><%= drivers[i].age %></a>
      <form action="/drivers/<%= drivers[i]._id  %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
        </li>
        
        <% } %>
    </ul>
    </body>
</html>