
    <h1>show page</h1>
 
    <%=company.name%>
    <%=company.address%>
    <%=company.city%>
    <%=company.telephone%>
    <%=company.driver%>
    <%=company.car%>
    <a href="/companys">Back to Index</a>